@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 22, 5, 27;
    --background: 250, 243, 253;
    --primary: 195, 239, 255;
    --secondary: 255, 223, 222;
    --accent: 255, 239, 228;
  }
  .dark {
    --text: 245, 229, 250;
    --background: 25, 35, 42;
    --primary: 0, 45, 61;
    --secondary: 31, 1, 0;
    --accent: 26, 10, 0;
  }
}

.navlink-btn {
  @apply btn p-4 bg-background text-text border-0 rounded-lg hover:bg-secondary/60 transition-colors;
}

.primary-btn {
  @apply btn p-4 bg-primary text-text border border-text rounded-lg hover:bg-primary/60 transition-colors;
}
.secondary-btn {
  @apply btn p-4 bg-secondary text-text border border-text rounded-lg hover:bg-secondary/60 transition-colors w-full;
}

.property-card {
  @apply card bg-primary/20 shadow-xl hover:shadow-2xl transition border border-text;
}
